extends layout

block content
    
    h1 Users
    
    .well
        p - This is a NodeJS app that demonstrates the login functionality using passport-local
        p - Even though the passwords are hashed/salted, don't be stupid to actually use one of your genuine passwords
        p - The system currently has following users who took the trouble of registering
        p - Cheers! You guys are awesome
    
    div.content
        table.table.table-striped
            thead
                tr
                    th Username
                    th Email
                    th Full Name
            tbody
                each user in users
                    tr
                        td= user.username
                        td= user.email
                        td= user.fullname